@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
	font-family: Righteous, Concert One;
}

body {
  margin: 0;
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
}

html,body {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

canvas {
  display: block;
}

#home{
  height: 100% !important;
  width: 100%;
  position: relative;
  margin-top: -5%;
}

nav{
  background-color: #000000;
  font-size: x-large ;
}

#spinner{
  left: 0%;
  top: 0%;
  height:100%;
  width: 100%;
  position: absolute;
  z-index: 9999;
}

.spinner-border{
  width: 3rem !important; 
  height: 3rem !important;
}

a.nav-link{
  transition: all 0.3s ease;
}

a.nav-link:hover{
  font-size : 30px;
}

.jumbotron{
  position: absolute;
  width: 100%;
  margin-top: 10%;
  color: aliceblue !important;
}

iframe{
  /* margin-top: -5%; */
}

a {
  margin: 0 10px;
  color: inherit !important;
  text-decoration: inherit !important;
}

footer{
  margin: 0 10px;
}

