@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
	font-family: Righteous, Concert One;
}

body {
  margin: 0;
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
  
}

html,body {
  height: 100%;
  overflow: hidden;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

canvas {
  display: block;
}

#home{
  height: 100% !important;
  width: 100%;
  position: relative;
  margin-top: -2%;
  z-index: 2;
  box-shadow: 0 0 100px 10px rgb(86, 24, 122);
}

nav{
  background-color: #000000;
  font-size: x-large ;
}

#spinner{
  left: 0%;
  top: 0%;
  height:100%;
  width: 100%;
  position: absolute;
  z-index: 9999;
}

.spinner-border{
  width: 3rem !important; 
  height: 3rem !important;
}

a.nav-link{
  transition: all 0.3s ease;
}

a.nav-link:hover{
  font-size : 30px;
}

.jumbotron{
  position: absolute;
  width: 100%;
  margin-top: 10%;
  color: aliceblue !important;
  pointer-events: none;
}

a {
  margin: 0 10px;
  color: inherit !important;
  text-decoration: inherit !important;
  pointer-events: auto;
}

footer{
  bottom: 0px;
  margin-bottom: 0 !important;
  padding: 0 10px;

}

p > a{
  color: royalblue !important;
  text-decoration: inherit !important;
}

#projectRow{
  padding : 0 10% 5%;
}

#projects{
  height : auto !important;
  width: 100%;
  position: relative;
}

.projects{
  padding-top: 2%;
  height : auto !important;
  position: inherit;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

#frame2{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.card{
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  box-shadow:10px 10px 10px 1px rgb(41, 41, 41);
  /* box-shadow: 0 0 10px 1px rgb(26, 13, 34); */
}

